header {
    background-color: rgb(196, 223, 170);
} 
footer {
background-color: rgb(238, 238, 238);

} 
main {

    background-color: rgb(115, 169, 173);

} 



p {

color: rgb(162, 91, 91)cadetblue;
} 

